.container-fluid{
    display:flex;
    flex-direction: column;
    width:50vw;
    margin-top: 2em ;
    padding:10px;
    
  
  }

  .heading{
    font-family: Montserrat-Black;
    text-align: center;
    font-weight: bolder;
    color: #22577A;
  }
  body{
    background-color: #E8F6EF;
    margin-left: 25%;
  }
  #output{
      font-size: xx-large;
      text-align: center;
      color:#22577A;
      
  }
  .btn{
    width: 200px;
    margin-left: 36%;
    font-size: larger;
    color: #22577A;

  }
  #d-o-b{
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 36%;
    width: 200px;
  }
  #lucky-number{
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 36%;
    width: 200px;

  }
  .title{
    font-size: larger;
    text-align: center;
  }

 